@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.curriculo {
    padding: 30px 60px;
}

.curriculo h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 5px 0;
    border-bottom: solid 2px rgb(117, 117, 117);
}


.cv-cabecalho {
    padding-bottom: 15px;
}

.cv-cabecalho h1 {
    font-size: 2em;
}

.cv-cabecalho h5 {
    font-size: 1em;
    font-weight: normal;
    padding-top: 5px;
}

.cv-cabecalho a {
    color: blue;
}


.cv-objetivo p {
    font-size: 0.9em;
    padding: 15px 0;
}


.cv-academico ul {
    padding-left: 20px;
    padding-bottom: 15px;
}

.cv-academico li {
    padding-top: 15px;
}

.cv-academico li p {
    padding-top: 5px;
}

.cv-academico .curso, .ano-fim {
    font-weight: bold;
}


.cv-profissional ul {
    padding-left: 20px;
    padding-bottom: 15px;
}

.cv-profissional li {
    padding-top: 10px;
}

.cv-profissional li p {
    padding-top: 5px;
}

.cv-profissional .periodo {
    font-weight: bold;
}


.cv-cursos ul {
    padding-left: 20px;
    padding-bottom: 15px;
}

.cv-cursos li {
    padding-top: 10px;
}

.cv-cursos li p {
    padding-top: 5px;
}

.cv-cursos .ano {
    font-weight: bold;
}

.cv-cursos .situacao {
    font-weight: bold;
}


.bnt-imprimir {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    float: right;
    position:fixed;
    right: 5px;
    left: 93%;
    bottom: 20px;
}

.bnt-imprimir svg {
    width: 21px;
    height: 21px;
}




@media print {
    * {
        padding: 0;
        margin: 0;
    }

    body {
        grid-template-areas:
            'conteudo conteudo'
            'conteudo conteudo'
            'rodape rodape';
    }

    main {
        display: block;
    }

    aside {
        display: none;
    }

    header {
        display: none;
    }

    footer .logo {
        display: inline;
    }

    footer .logo p {
        display: inline;
    }

    .curriculo {
        font-size: 15px;
        padding: 30px 60px
    }
}

@media (max-width: 770px) {
    .bnt-imprimir {
        display: none;
    }

    .curriculo {
        font-size: 13px;
        padding: 30px 30px;
    }
}