@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

aside{
    font-family: 'Roboto', sans-serif;
}

/* - Menu - */
.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
}

.menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #F5EEEE;
    height: 100%;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}

.menu svg {
    padding-right: 15px;
    width: 21px;
    height: 21px;
    padding-left: 15px;
}

.menu a:hover, .menu a:hover path, .menu a.selected, .menu a.selected path {
    background-color: #F5EEEE;
    color: #397D4B;
    stroke: #397D4B;
}


/* -Botão Sair - */
.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.botao {
    border-radius: 30px;
    padding: 10px 55px;
    margin: 26px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.destaque {
    background-color: #AD4147;
    color: #F5EEEE;
}

.botao:hover {
    color: #AD4147;
    background-color: #F5EEEE;
}

/* - Perfil - */
.perfil {
    text-align: center;
    padding: 15px;
}

.perfil img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.perfil h2 {
    color:#F5EEEE;
    font-size: 1.2em;
    font-weight: 800;
}