* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #48975d;
    display: grid;
    grid-template-areas: 
        'cabecalho'
        'conteudo'
        'rodape';
}

header {
    background-color: aqua;
    grid-area: cabecalho;
    width: 100%;
    height: 10%;
}

main {
    background-color: blueviolet;
    grid-area: conteudo;
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: rodape;
    width: 100%;
    height: 10%;
}

.pagMenu {
    background-color: #397D4B;
    width: 100px;
    height: 100px;
    
    
    
    
}